<main>
    <header class="brand-name">
        <div>
            <img id="logo"
                src="https://static.wixstatic.com/media/2e7538_5eb82e149ced4298906756aca01337d2~mv2.png/v1/fill/w_96,h_33,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/2e7538_5eb82e149ced4298906756aca01337d2~mv2.png">
            <nav aria-label="breadcrumb">
                <ol id="breadcrumb" class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a id="item" href="">Início</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Candidatos por Vaga</li>
                </ol>
            </nav>
        </div>

    </header>
</main>